* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    border: 1px solid black;
    margin: auto;
    width: 50%;
    padding: 10px;
}

img {
    width: 100%;
}

.prezzo {
    width: 94%;
    background-color: lightgrey;
    display: flex;
    flex-direction: end;
    font-size: 12px;
}

.credenziali {
    width: 94%;
}

#tariffa {
    font-weight: bold;
}